body {
  margin-top: 1%;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  font-size: 200%;
}

div {
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin: 0% 30% 0% 30%;
  background-color: white;
}

#music {
  font-size: 200%;
  padding: 0%;
  margin-top: 2%;
  margin-bottom: 0%;
  background-color: white;
}

#title {
  border-style: solid;
  border-width: thin;
  border-color: black;
  font-size: 200%;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

audio {
  display: block;
  width: 40%;
}

#play {
  display: inline-block;
}

#pause {
  display: none;
}

#buttonsdiv {
  margin: 0% 30% 0% 30%;
  padding: 1% 0% 1% 0%;
}

#loop_div {
  padding: 1% 0% 1% 0%;
}

#songsearch {
  width: 100%;
  border-style: solid;
  border-color: rgb(28, 173, 245);
  border-width: 1px;
}

#topdiv {
  padding: 2% 2% 1% 2%;
}

#songsearch_form {
  padding: 3%;
}

.ui-autocomplete {
  max-height: 200px; overflow-y: auto; overflow-x: hidden;
}

.ui-helper-hidden-accessible { 
  display:none; 
}

@media screen and (max-device-width: 1060px) {
  #outerdiv {
    margin: 0% 22% 0% 22%;
  }
}
