body {
  margin-top: 1%;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  font-size: 200%;
}

div {
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 2%;
  margin: 0% 30% 0% 30%;
  background-color: white;
}

#music {
  font-size: 200%;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: white;
}

#title {
  border-style: solid;
  border-width: thin;
  border-color: black;
  font-size: 200%;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 4%;
}

audio {
  display: block;
  width: 40%;
}

#play {
  display: inline-block;
}

#pause {
  display: none;
}

#innerdiv {
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0% 0% 0% 0%;
  border-style: hidden;
  background-color: rgba(255, 255, 255, 0);
}

#outerdiv {
  margin: 0% 30% 0% 30%;
  padding: 1% 0% 1% 0%;
}

#loop_div {
  padding: 1% 0% 1% 0%;
}

.text_bar {
  width: 100%;
  border-style: solid;
  border-color: rgb(28, 173, 245);
}

@media screen and (max-device-width: 1060px) {
  #outerdiv {
    margin: 0% 22% 0% 22%;
  }
}
