body {
  background: url("napsta_space.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  font-size: 200%;
}

div {
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 2%;
  margin: 0% 30% 0% 30%;
  background-color: white;
}

#title {
  font-size: 200%;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: white;
}

audio {
  display: block;
  width: 100%;
}

#play {

}

#pause {

}